@import '_reset';

$logo-stack: 'Josefin Sans', sans-serif;
$body-stack: 'Raleway', sans-serif;

#trip-map {
    width:50vw;
    height:50vh;
}
#explore-map {
    height:100vh;
    width:100vw;
}
#profile-map {
    width:60vw;
    height:72vh;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 1px 8px grey;
    }
}


.tooltip > .tooltip-inner{
    background-color:white; 
    color: black; 
    border: 1px solid black;
    // padding: 15px;
    // font-size: 20px;
}


.profile-edit {
    display:flex;
    flex-direction:column;
    height:100vh;
    align-items: center;
    h1 {
        font-family:$logo-stack;
        margin: 2em 0 .5em 0;
    }
    h4 {
        font-family:$logo-stack;
        margin: 1em 0 .5em 0;
    }
    
    .profile-edit-submit{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        color:black;
        font-size:1.5em;
        font-family:$logo-stack;
        margin-top:1em;
    }
}
body {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(0,0,0, .04);
}

footer nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:.5em;
    padding:3em 0 .5em 0;
    background-color:white;
    p {
        margin-left:1em;
        font-size:.9em;
    }
    a {
        margin-right:1em;
    }
}

#geocoder-container > div {
    min-width:50%;
    margin-left:25%;
}

.landing-wrapper {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(29, 41, 48, 0.9);
    #video {
        position: fixed;
        height:100vh;
        width:100vw;
        object-fit:cover;
        z-index: -100;
        // opacity: .9;
    }
    .landing-content {
        display:flex;
        flex-direction: column;
        text-align: center;
        h1 {
            font-family:$logo-stack;
            font-size:17em;
            color:#32FDDF;
            text-align: center;
            text-shadow: -10px 10px 0px #FD8671,
                -20px 20px 0px #1483CA,
                -30px 30px 0px #CA1414;
        }
        h3 {
            color:#32FDDF;
            font-family:$logo-stack;
            font-size:3em;
            margin-bottom: 1em;
            text-align: center;
            font-weight:bold;
            text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
        }
        h2 {
            color:white;
            font-family:$logo-stack;
            font-size:3em;
            margin-bottom: 1em; 
        }
        h4 {
            color:white;
            font-family:$logo-stack;
            font-size:3em;

        }
       .login-wrapper {
           display:flex;
           justify-content: space-between;
       }
        .landing-button {
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
            color:#1483CA;
            text-transform: uppercase;
            font-family:$logo-stack;
            font-size:3em;
            font-weight:bold;
            &:hover {
                transform:scale(1.3);
            }


        }
       .modal-btn {
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            outline:none;
            color:black;
        }
    }
}
.trip-detail {
    margin: 3em 1em;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
        font-family:$logo-stack;
        font-size:3.3em;
        margin-left:1em;
    }
    h4 {
        font-family:$logo-stack;
        font-size:2em;
    }
    .trip-header {
        display:flex;
        width:100vw;
        // align-items: center;
        // .trip-title{
        //     display:flex;
        //     width:60vw;
        //     margin-left:4em;
        //     // align-items: center;
        // }
        .trip-icons {
            width:100vw;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right:4em;
            margin-bottom:2em;
            div {
                margin: 0 .7em;
            }
        }
    }
    .trip-info {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width:100vw;
        div {
            margin: .3em 0;
        }
        h1 {
            text-align: center;
            margin:0;
            font-family:$logo-stack;

        }
        p {
            text-align: center;
            margin:0;
            font-family: $body-stack;
        }
        i {
            margin-left:1em;
        }
        .trip-dates {
            display:flex;
        }
    }
    .trip-pack{
        display:flex;
        justify-content: center;
        align-items: flex-start;
        width: 90vw;
        margin: 3em 0;
        .pack-line {
            display:flex;
            justify-content: space-between;
            width:20vw;
            margin:.4em 0;
            .checkbox {
                display:flex;
            }
            p {
                font-family: $body-stack;
                margin-left:.5em;
            }
        }
        .trip-gear {
          margin-right:4em;
          width:45%;
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .gear-head {
              display:flex;
              justify-content: space-between;
              width:20vw;
              margin-bottom:1em;
          }
        }
        .trip-food {
            margin-left:4em;
            width:45%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .food-head {
                display:flex;
                justify-content: space-between;
                width:20vw;
                margin-bottom:1em;
            }
            .food-wrapper {
                margin-bottom:1em;
                display:flex;
                flex-wrap: wrap;
                .food-box {
                    border:1px solid black;
                    padding:.5em 1em;
                    margin:1em;
                    display:flex;
                    flex-direction: column;
                    .food-day-box {
                        display:flex;
                        h6 {
                            margin-left:.5em;
                            margin-bottom:.3em;
                            font-family: $body-stack;
                        }
                    }
                }
            }
            form {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }
    .trip-posts {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
        width:80vw;
        h4{
            font-family:$logo-stack;
            font-size:2em;
            text-align: center;
            margin:1em 0 .5em 0;
        } 
        img,video {
            object-fit: cover;
            border-radius: 5px;
            margin:.3em;
            &:hover {
                opacity:.5;
            }
        }
    }
}
.trip-wrapper {
    width:100vw;
    display:flex;
    justify-content: center;
    .trip-create {
        margin:4em;
        display:flex;
        flex-direction: column;
        width:60vw;
        font-family:$logo-stack;
        font-size: 1.2em;
        h1 {
            text-align: center;
        }
    }
}

.post_overlay {
    display:none;
    width:300px;
    position:absolute;
    top: 42%; left: 0; bottom: 0; right: 0;
    margin: auto;
    font-weight: bold;
    text-align: center;
    font-size:1.2em;
}
.hover-img img {
    width:100%; 
    height: 100%; 
    object-fit: cover; 
}

.search-page {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    margin-top:3em;
    margin-left:3em;
    h3 {
        font-family:$logo-stack;
        font-size:3em;
    }
    .search-result-line {
        display:flex;
        align-items: center;
        margin:1.5em 0;
        a {
            display:flex;
            align-items: center;
            font-family: $body-stack;
            font-size: 1.2em;
        }
        span {
            font-family: $body-stack;
            font-size:.8em;
        }
        
    }
}

.modal-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:black;
}

.user_profile_icon {
    width:40px;
    border-radius: 50%;
    object-fit:cover;
}

a {
    text-decoration:none;
    color:black;
}
a:hover 
{
     text-decoration:none; 
     cursor:pointer;  
}
li {
    list-style: none;
}
#icon-future {
    color:red;
}
#icon-incomplete {
    color:green;
}
header {
    position:sticky;
    top:0;
    z-index:1;
nav {
    display:flex;
    justify-content: space-between;
    background:white;
     align-items:center;
    border-bottom:1px solid lightgrey;
    h4 {
       
        padding:.25em .5em;
        margin-left:1em;
        font-family:$logo-stack;
        font-weight:300;
        font-size:2.5em;
        color:#1483CA;
        letter-spacing:3px;
        text-shadow: -3px 3px 0px #CA1414, 
            -6px 6px 0px #FD8671,
            -9px 9px 0px #32FDDF;
    }

    ul{
        display:flex;
        align-items: center;
        margin-right:2em;
        li {
            margin:.5em 1em;
            a {
                i {
                    color:black;
                    &:hover{
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}
}
.search {
    border-bottom:2px solid BLACK;;
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    outline:none;
    color:#FD8671;
    &::placeholder{
        color:black;
    }
   
}
.fa-search{
    color:black;
}
.trash-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:black;
}

.profile {
    // font-size:1.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
    .profile-aside {
        border-radius: 5px;
        font-size: 1.3em;
        padding: 2em 3em;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height:50%;
        border:1px solid lightgrey;

        background-color:white;
        // background-color:rgba(0,0,0,.025);
        &:hover {
            transform: scale(1.1);
            box-shadow: 0px 1px 8px grey;

        }
        a {
            font-family:$logo-stack;
            color:black;
            &:hover{
                color:#FD8671;
            }

        }
        .profile-picture img {
            border-radius:50%;
            width:250px;
            object-fit:cover;
            margin:1.5em 0;
        }
        .profile-info {
            p {
                margin: .5em 0;
                font-family:$logo-stack;
                font-weight:300;
                color:black;
                
            }
        }
    }
    .profile-main {
        width:60vw;
        margin-left:4em;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        a, span {
            font-family: $body-stack;
        }
        span {
            font-size:.8em;
        }
        div {
            margin: 1em 0;
        }
        .profileTrips {
            border-radius: 5px;
            padding: 2em 3em;
            background-color:white;
            border:1px solid lightgrey;
            color:black;
            // background-color:rgba(0,0,0,.025);
            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 1px 8px grey;
            }
            a{
                color:black;
                &:hover{
                    color:#FD8671;
                }

            }
        }
        .trip-list-container {
            display:flex;
            justify-content: space-around;
            width:60vw;
        }
        h1 {
            font-family:$logo-stack;
            text-align: center;        
        }
        li {
            margin:1em 0;
            a {
                font-size: 1.2em;
            }
        }
        .profile-post {
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            img,video {
                object-fit: cover;
                border-radius: 5px;
                margin:.5em;
                &:hover {
                    opacity:.5;
                    transform: scale(1.1);
                    box-shadow: 0px 1px 8px grey;

                }
            }
        }
    }
}
.post-detail {
    margin:4em 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .post-header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:80vw;
        margin-bottom:1em 0;
        h1 {
            font-family:$logo-stack;
        }
        .icons {
            display:flex;
            align-items: center;
        }
    }
    .post-main {
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        h4, p {
            font-size: 1.1em;
            font-family:$body-stack;
        }
        div {
            margin-top:.5em;
            width:80vw;
            display:flex;
            justify-content: space-between;
        }
        img,video {
            width:80vw;
            height:70vh;
            object-fit: contain;
            margin: 1em 0;
        }
    }
}
.create-form {
    display:flex;
    align-items: center;
    justify-content: center;
    button {
        margin-bottom:1em;
    }
}

.post-create-form {
    font-family:$logo-stack;
    text-transform: uppercase;
    button {
        margin-top:2em ;
        font-family:$logo-stack;
        text-transform: uppercase;
    }
}
.trips-page {
    width:100vw;
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    height:90vh;
    margin-top:8em;
    div {
        margin:0 3em;
    }
    h4 {
        display:flex;
        justify-content: center;
        margin-bottom:1em;
        font-family:$logo-stack;
        text-transform:uppercase;
        

    }
    li {
        margin:1em 0;
        a {
            font-size:1.3em;
            font-family: $body-stack;
        }
        span {
            font-size:.8em;
        }

    }
}

.trip-head {
    display:flex;
    flex-direction:column;
    align-items: center;
}

#pac-input {
    width:60vw;;
    .pac-container {
        background-color: white;
        position: absolute !important;
        z-index: 10000;
        border-radius: 2px;
        border-top: 1px solid #d9d9d9;
        font-family: Arial, sans-serif;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

    .pac-logo:after {
        content: "";
        padding: 1px 1px 1px 0;
        height: 16px;
        text-align: right;
        display: block;
        background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 120px 14px;
    }
    
    .hdpi.pac-logo:after {
        background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
    }
    
    .pac-item {
        cursor: default;
        padding: 0 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 30px;
        text-align: left;
        border-bottom: 1px solid #000000;
        font-size: 11px;
        color: black !important;
    }
    
    .pac-item:hover {
        background-color: lightgray;
    }
    
    .pac-item-selected, .pac-item-selected:hover {
        background-color: #ebf2fe;
    }
    
    .pac-matched {
        font-weight: 700;
    }
    
    .pac-item-query {
        font-size: 13px;
        padding-right: 3px;
        color: #000;
        z-index: 20000;
        margin: 0;
    }
    
    .pac-icon {
        display: none;
        width: 15px;
        height: 20px;
        margin-right: 7px;
        margin-top: 6px;
        display: inline-block;
        vertical-align: top;
        background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
        background-size: 34px;
    }
    
    .pac-item-selected .pac-icon-search {
        background-position: -18px -1px;
    }
    
    .pac-icon-marker {
        background-position: -1px -161px;
        display: none;
    }
    
    .pac-item-selected .pac-icon-marker {
        background-position: -18px -161px;
    }
    
    .pac-placeholder {
        color: gray;
    }
    
    .pac-item span {
        color: #000 !important;
        margin: 0;
    }
}
   