/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#trip-map {
  width: 50vw;
  height: 50vh;
}

#explore-map {
  height: 100vh;
  width: 90vw;
}

#profile-map {
  width: 60vw;
  height: 72vh;
}
#profile-map:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 8px grey;
}

.tooltip > .tooltip-inner {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.profile-edit {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.profile-edit h1 {
  font-family: "Josefin Sans", sans-serif;
  margin: 2em 0 0.5em 0;
}
.profile-edit h4 {
  font-family: "Josefin Sans", sans-serif;
  margin: 1em 0 0.5em 0;
}
.profile-edit .profile-edit-submit {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: black;
  font-size: 1.5em;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1em;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.04);
}

footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 3em 0 0.5em 0;
  background-color: white;
}
footer nav p {
  margin-left: 1em;
  font-size: 0.9em;
}
footer nav a {
  margin-right: 1em;
}

#geocoder-container > div {
  min-width: 50%;
  margin-left: 25%;
}

.landing-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(29, 41, 48, 0.9);
}
.landing-wrapper #video {
  position: fixed;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -100;
}
.landing-wrapper .landing-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.landing-wrapper .landing-content h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17em;
  color: #32FDDF;
  text-align: center;
  text-shadow: -10px 10px 0px #FD8671, -20px 20px 0px #1483CA, -30px 30px 0px #CA1414;
}
.landing-wrapper .landing-content h3 {
  color: #32FDDF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.landing-wrapper .landing-content h2 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  margin-bottom: 1em;
}
.landing-wrapper .landing-content h4 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
}
.landing-wrapper .landing-content .login-wrapper {
  display: flex;
  justify-content: space-between;
}
.landing-wrapper .landing-content .landing-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #1483CA;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  font-weight: bold;
}
.landing-wrapper .landing-content .landing-button:hover {
  transform: scale(1.3);
}
.landing-wrapper .landing-content .modal-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: black;
}

.trip-detail {
  margin: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.trip-detail h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.3em;
  margin-left: 1em;
}
.trip-detail h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
}
.trip-detail .trip-header {
  display: flex;
  width: 100vw;
}
.trip-detail .trip-header .trip-icons {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4em;
  margin-bottom: 2em;
}
.trip-detail .trip-header .trip-icons div {
  margin: 0 0.7em;
}
.trip-detail .trip-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trip-detail .trip-info div {
  margin: 0.3em 0;
}
.trip-detail .trip-info h1 {
  text-align: center;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}
.trip-detail .trip-info p {
  text-align: center;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.trip-detail .trip-info i {
  margin-left: 1em;
}
.trip-detail .trip-info .trip-dates {
  display: flex;
}
.trip-detail .trip-pack {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  margin: 3em 0;
}
.trip-detail .trip-pack .pack-line {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  margin: 0.4em 0;
}
.trip-detail .trip-pack .pack-line .checkbox {
  display: flex;
}
.trip-detail .trip-pack .pack-line p {
  font-family: "Raleway", sans-serif;
  margin-left: 0.5em;
}
.trip-detail .trip-pack .trip-gear {
  margin-right: 4em;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trip-detail .trip-pack .trip-gear .gear-head {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  margin-bottom: 1em;
}
.trip-detail .trip-pack .trip-food {
  margin-left: 4em;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trip-detail .trip-pack .trip-food .food-head {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  margin-bottom: 1em;
}
.trip-detail .trip-pack .trip-food .food-wrapper {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}
.trip-detail .trip-pack .trip-food .food-wrapper .food-box {
  border: 1px solid black;
  padding: 0.5em 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.trip-detail .trip-pack .trip-food .food-wrapper .food-box .food-day-box {
  display: flex;
}
.trip-detail .trip-pack .trip-food .food-wrapper .food-box .food-day-box h6 {
  margin-left: 0.5em;
  margin-bottom: 0.3em;
  font-family: "Raleway", sans-serif;
}
.trip-detail .trip-pack .trip-food form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.trip-detail .trip-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}
.trip-detail .trip-posts h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 1em 0 0.5em 0;
}
.trip-detail .trip-posts img, .trip-detail .trip-posts video {
  object-fit: cover;
  border-radius: 5px;
  margin: 0.3em;
}
.trip-detail .trip-posts img:hover, .trip-detail .trip-posts video:hover {
  opacity: 0.5;
}

.trip-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
.trip-wrapper .trip-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
}
.trip-wrapper .trip-create h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5em;
  margin: 0.5em 0;
}
.trip-wrapper .trip-create .trip-create-form {
  margin: 0.5em 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.trip-wrapper .trip-create .trip-create-form .mw-wrap {
  width: 100%;
  min-width: 50vw;
}
.trip-wrapper .trip-create .trip-create-form button {
  margin: 2em 0;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.post_overlay {
  display: none;
  width: 300px;
  position: absolute;
  top: 42%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.hover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.explore-page h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  margin: 0.5em 0;
}
.explore-page .search-result-line {
  display: flex;
  align-items: center;
  margin: 1.5em 0;
}
.explore-page .search-result-line a {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
}
.explore-page .search-result-line span {
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
}

.modal-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: black;
}

.user_profile_icon {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

#icon-future {
  color: red;
}

#icon-incomplete {
  color: green;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header nav {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
header nav h4 {
  padding: 0.25em 0.5em;
  margin-left: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  color: #1483CA;
  letter-spacing: 3px;
  text-shadow: -3px 3px 0px #CA1414, -6px 6px 0px #FD8671, -9px 9px 0px #32FDDF;
}
header nav ul {
  display: flex;
  align-items: center;
  margin-right: 2em;
}
header nav ul li {
  margin: 0.5em 1em;
}
header nav ul li a i {
  color: black;
}
header nav ul li a i:hover {
  transform: scale(1.5);
}

.search {
  border-bottom: 2px solid BLACK;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  outline: none;
  color: #FD8671;
}
.search::placeholder {
  color: black;
}

.fa-search {
  color: black;
}

.trash-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: black;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0;
}
.profile .profile-aside {
  border-radius: 5px;
  font-size: 1.3em;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  border: 1px solid lightgrey;
  background-color: white;
}
.profile .profile-aside:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 8px grey;
}
.profile .profile-aside a {
  font-family: "Josefin Sans", sans-serif;
  color: black;
}
.profile .profile-aside a:hover {
  color: #FD8671;
}
.profile .profile-aside .profile-picture img {
  border-radius: 50%;
  width: 250px;
  object-fit: cover;
  margin: 1.5em 0;
}
.profile .profile-aside .profile-info p {
  margin: 0.5em 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: black;
}
.profile .profile-main {
  width: 60vw;
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.profile .profile-main a, .profile .profile-main span {
  font-family: "Raleway", sans-serif;
}
.profile .profile-main span {
  font-size: 0.8em;
}
.profile .profile-main div {
  margin: 1em 0;
}
.profile .profile-main .profileTrips {
  border-radius: 5px;
  padding: 2em 3em;
  background-color: white;
  border: 1px solid lightgrey;
  color: black;
}
.profile .profile-main .profileTrips:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 8px grey;
}
.profile .profile-main .profileTrips a {
  color: black;
}
.profile .profile-main .profileTrips a:hover {
  color: #FD8671;
}
.profile .profile-main .trip-list-container {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
.profile .profile-main h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
.profile .profile-main li {
  margin: 1em 0;
}
.profile .profile-main li a {
  font-size: 1.2em;
}
.profile .profile-main .profile-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile .profile-main .profile-post img, .profile .profile-main .profile-post video {
  object-fit: cover;
  border-radius: 5px;
  margin: 0.5em;
}
.profile .profile-main .profile-post img:hover, .profile .profile-main .profile-post video:hover {
  opacity: 0.5;
  transform: scale(1.1);
  box-shadow: 0px 1px 8px grey;
}

.post-detail {
  margin: 4em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.post-detail .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 1em 0;
}
.post-detail .post-header h1 {
  font-family: "Josefin Sans", sans-serif;
}
.post-detail .post-header .icons {
  display: flex;
  align-items: center;
}
.post-detail .post-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.post-detail .post-main h4, .post-detail .post-main p {
  font-size: 1.1em;
  font-family: "Raleway", sans-serif;
}
.post-detail .post-main div {
  margin-top: 0.5em;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.post-detail .post-main img, .post-detail .post-main video {
  width: 80vw;
  height: 70vh;
  object-fit: contain;
  margin: 1em 0;
}

.create-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-form button {
  margin-bottom: 1em;
}

.post-create-form {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.post-create-form button {
  margin-top: 2em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.trips-page {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 90vh;
  margin-top: 8em;
}
.trips-page div {
  margin: 0 3em;
}
.trips-page h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.trips-page li {
  margin: 1em 0;
}
.trips-page li a {
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
}
.trips-page li span {
  font-size: 0.8em;
}

.trip-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pac-input {
  width: 60vw;
}
#pac-input .pac-container {
  background-color: white;
  position: absolute !important;
  z-index: 10000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
#pac-input .pac-logo:after {
  content: "";
  padding: 1px 1px 1px 0;
  height: 16px;
  text-align: right;
  display: block;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px;
}
#pac-input .hdpi.pac-logo:after {
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png);
}
#pac-input .pac-item {
  cursor: default;
  padding: 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid #000000;
  font-size: 11px;
  color: black !important;
}
#pac-input .pac-item:hover {
  background-color: lightgray;
}
#pac-input .pac-item-selected, #pac-input .pac-item-selected:hover {
  background-color: #ebf2fe;
}
#pac-input .pac-matched {
  font-weight: 700;
}
#pac-input .pac-item-query {
  font-size: 13px;
  padding-right: 3px;
  color: #000;
  z-index: 20000;
  margin: 0;
}
#pac-input .pac-icon {
  display: none;
  width: 15px;
  height: 20px;
  margin-right: 7px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
  background-size: 34px;
}
#pac-input .pac-item-selected .pac-icon-search {
  background-position: -18px -1px;
}
#pac-input .pac-icon-marker {
  background-position: -1px -161px;
  display: none;
}
#pac-input .pac-item-selected .pac-icon-marker {
  background-position: -18px -161px;
}
#pac-input .pac-placeholder {
  color: gray;
}
#pac-input .pac-item span {
  color: #000 !important;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
