{% load static from staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OutPACK</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Raleway" rel="stylesheet">
    <link href="{% static './styles/styles.css' %}" rel="stylesheet" type="text/css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous" defer></script>
    <script src="{% static './scripts/index.js' %}" defer></script>

    {% block extrahead %}
    {% endblock extrahead %}

</head>
<body>
    <header>
        <nav>
            <h4>OutPACK</h4>
            <ul>
                <li><a href= "{% url 'final_app:profile' %}" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="fas fa-user-alt"></i></a></li>
                <li><a href= "{% url 'final_app:trips' %}"data-toggle="tooltip" data-placement="bottom" title="Trips"> <i class="fas fa-hiking"></i></a></li>
                <li><a href="{% url 'final_app:trip_create' %}"data-toggle="tooltip" data-placement="bottom" title="Start A New Trip"><i class="fas fa-plus"></i></li>
                <li><a href= "{% url 'accounts:logout' %}"data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
                <li><img class="user_profile_icon" src="{{request.user.profile.profile_picture.url}}" width="auto" height="40px"></li>
                <li><form name="myform" method="GET" action="{% url 'final_app:search' %}">  <input type="text" class="search" name="search" placeholder="Search for trip ideas" /><i class="fas fa-search"data-toggle="tooltip" data-placement="bottom" title="Search"></i></form> </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <nav>
            <p>&copy; 2018 all rights reserved</p>
            <a href="https://github.com/natalie-poulson/final_project" target="_blank"><i class="fab fa-github"></i></a>
        </nav>
    </footer>
</body>
</html>