{% load static from staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>OutPACK</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100" rel="stylesheet">
        <link rel="stylesheet" href="{% static './styles/styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static './scripts/index.js' %}" defer></script>
    </head>
    <body>
        <div class ="landing-wrapper">
            <video playsinline autoplay muted  loop  id="video" ><source src="{% static 'video.MP4' %}"></video>
            <div class="landing-content">
                <div class="logo">
                    <h1> OutPACK</h1>
                    <h3>...the place for outdoor trip planning and sharing! </h3>
                </div>
                {% if user.is_authenticated %}
                <h2>Welcome back, {{user.username}} </h2>
                <div class="login-wrapper">
                    <a class="landing-button" href="{% url 'final_app:profile' %}">Enter</a>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button class ="landing-button"type='submit'>Logout</button>
                    </form>
                </div>
                {% else %}
                <div class ="login-wrapper">
                    <!-- Button trigger modal -->
                        <button class="landing-button" type="button"  data-toggle="modal" data-target="#login-modal">Login </button>

                            {% if login_form.errors %}
                            <script>$(function() {$('#login-modal').modal({show: true});});</script>
                            {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="login-modalLongTitle">Login</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class='login-form'  action="{% url 'accounts:login' %}" method='post'>
                                            {% csrf_token %}
                                            {{ login_form|crispy }}
                                                {% if request.GET.next %}
                                                    <input type="hidden" name="next" value="{{request.GET.next}}">
                                                {% endif %} 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="input" class='modal-btn'>Login</button>
                                        </form>  
                                    </div>
                                </div>
                                </div>
                        </div>
                        <!-- Button trigger modal -->
                        <button class="landing-button" type="button"  data-toggle="modal" data-target="#exampleModalCenter">Sign Up</button>

                            {% if signup_form.errors %}
                                <script>$(function() {$('#exampleModalCenter').modal({show: true});});</script>
                            {% endif %}

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Create An Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form class='signup-form'  action="{% url 'accounts:signup' %}" method='post'>
                                    {% csrf_token %}
                                    {{ signup_form|crispy }}
                                </div>
                                <div class="modal-footer">
                                        <button type="input" class='modal-btn'>Sign Up</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>    
                {% endif %}
            </div>
        </div>
    </body>
</html>
