{% extends 'final_app/base_layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="trip-detail">
    <div class ="trip-info">
        <div class ="trip-head">
            <h1>{{ trip.trail }}</h1>
            <a href={% url 'final_app:other_profile' username=trip.user.username %} ><img data-toggle="tooltip" data-placement="bottom" title="{{trip.user.username}}"class="user_profile_icon" src="{{trip.user.profile.profile_picture.url}}" width="auto" height="40px"></a>
        </div>

        <div class ="trip-map">
                <div id="trip-map"></div>
    
                <script>
                    function initMap() {
                        var trip = { lat: {{trip.lat}}, lng: {{trip.lon}} };
    
                        var map = new google.maps.Map(document.getElementById('trip-map'), {
                        center: trip,
                        zoom: 14,
                        mapTypeId: 'terrain'
                        });
    
                        var marker = new google.maps.Marker({position: trip, map: map});
                    }
    
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&callback=initMap"
                async defer></script>
            </div>    

        <div class="trip-dates">
            <p>{{ trip.start_date }} - {{ trip.end_date}}</p>
            {% if trip.completed is False %}
            {% else %}
                <i class="fas fa-calendar-check"></i>
            {% endif %}
        </div>
        <div>
            <p><strong> Trip Length:</strong> {{trip.total_days}} days</p>
        </div>
        <div>
            {% if trip.permit %}
                <a href = "{{trip.permit}}" target="_blank"><strong>Permit Info</strong></a>
            {% endif %}
        </div>
    </div>  
    <!-- <div class="trip-pack"> 
        <div class="trip-gear">
            <div class="gear-head">
                <h4>Gear</h4>                
            </div>
            {% for trip_gear in trip.trip_gears.all %}
                <div class='pack-line'>
                    <div>
                        <p {% if trip_gear.packed is True %} style="text-decoration: line-through" {% endif %}>{{trip_gear.gear_name}}</p>
                    </div>
                    <div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="trip-food">

                <div class="food-head">
                    <h4>Food</h4>
                </div>
                <div class='food-wrapper'>
    
                {% for day in trip.day_range %}
                    <div class="food-box">
                        <div class="food-day-box">
                            <i class="far fa-calendar"></i>
                            <h6>Day {{day |add:"1" }}</h6> 
                        </div>
                        <div>

                        </div>
                        <div>
                            {% for trip_food in trip.trip_foods.all %}
                                {% if day|add:"1"   ==  trip_food.day %}
                                <div class='pack-line'>
                                        <div class='checkbox'>
                                            <p >{{trip_food.food_name}}</p>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %} 
                        </div>
                    </div>
                {% endfor %}
                </div> 
            </div>
    </div> -->
    <div class="trip-posts">
        <div>
            {% if trip.trip_posts.all %}
                <h4>Posts about this trip</h4>
            {% endif %}
        </div>
        <div>
             
                {% for trip_post in trip.trip_posts.all %}
                {% if trip_post.image%}
                <a href={% url 'final_app:post_detail' slug=trip_post.slug %} ><img id ="hover-img" src="{{ trip_post.image.url }}" width="250px" height="250px" alt=""></a>        
                {% endif %}
                {% if trip_post.video%}
                <a href={% url 'final_app:post_detail' slug=trip_post.slug %} ><video id ="hover-img" src="{{ trip_post.video.url }}" width="250px" height="250px" alt=""></a>          
                {% endif %}
            {% endfor %}  
        </div>   
    </div>
</div>
{% endblock %}

