{% extends 'final_app/base_layout.html' %}

{% block content %}
<h1>Post Detail Page!</h1>

    <p><strong>Title:</strong> {{ post.title }}</p>
    <p><strong>User:</strong> {{ post.user }}</p>


    <p><strong>Trip:</strong><a href={% url 'final_app:other_trip_detail' pk=post.trip.id %}> {{ post.trip }}  </a></p>

    {% if post.image %}
    <p><strong>Image:</strong> <img src="{{ post.image.url }}" width="auto" height="250px" alt=""></p>
    {% endif %}

    {% if post.caption %}
    <p><strong>Caption:</strong> {{ post.caption }}</p>
    {% endif %}


    {% if post.body %}
    <p><strong>Body:</strong> {{ post.body }}</p>
    {% endif %}

    <p><strong>Date Posted:</strong> {{ post.created_at }}</p>

{% endblock %}