{% extends 'final_app/base_layout.html' %}

{% block content %}
<div class="post-detail">
    <div class="post-header">
        <div>
            <a href={% url 'final_app:other_profile' username=post.user.username %} ><img data-toggle="tooltip" data-placement="bottom" title="{{post.user.username}}" class="user_profile_icon" src="{{post.user.profile.profile_picture.url}}" width="auto" height="40px"></a>
        </div>
        <div>
            <h1> {{ post.title }}</h1>
        </div>
        <div></div>
    </div>
    <div class ="post-main">
        <div>
            <p><strong>Trip:</strong><a href={% url 'final_app:other_trip_detail' username=post.user.username slug=post.trip.slug %}> {{ post.trip }}  </a></p>
            <h4>{{ post.created_at }}</h4>
        </div>
        <div>
            <img src="{{ post.image.url }}" width="auto" height="250px" alt="">
        </div>
        <div>
            {% if post.caption %}
                <p>{{ post.caption }}</p>
            {% endif %}
        </div>
        <div>
            {% if post.body %}
                <p>{{ post.body }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

