{% load static from staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>OutPACK</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100" rel="stylesheet">
        <link rel="stylesheet" href="{% static './styles/styles.css' %}">

    </head>
    <body>
        <header>
            <nav>
                <h4>OutPACK</h4>
            </nav>
        </header>   
            
        <div class='profile-edit'>
            <h1> Welcome!</h1>
            <h4> Creae Your Profile </h4>
            <div class="col-4">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="profile-edit-submit"type="submit" value="Submit">
                </form>
            </div>
        </div>
        <footer>
                <nav>
                    <p>&copy; 2018 all rights reserved</p>
                    <a href="https://github.com/natalie-poulson/final_project" target="_blank"><i class="fab fa-github"></i></a>
                </nav>
            </footer>
    </body>
</html>

