{% extends 'final_app/base_layout.html' %}

{% block content %}

    <img src="{{ user.profile.profile_picture.url }}" width="auto" height="250px" alt="">
    <p><strong>Username:</strong> {{user.username}}</p>
    <p><strong>Name:</strong> {{ user.profile.name }}</p>
    <p><strong>Current City:</strong> {{ user.profile.current_city }}</p>
    <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
    <p><strong>Date Joined:</strong> {{ user.profile.date }}</p>
    <a href = "{% url 'final_app:profile_edit' %}">Edit Profile</a>

{% endblock %}
