{% extends 'final_app/base_layout.html' %}

{% block extrahead %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg&callback=initMap"defer></script>

<script>
        function initMap() {

            var map = new google.maps.Map(document.getElementById('profile-map'), {
            center: {lat: 39.8283, lng: -98.5795},
            zoom: 3,
            mapTypeId: 'terrain'
            });
            var infowindow = new google.maps.InfoWindow()

        {% if trips %}
            {% for trip in trips %}
                var trip = { lat: {{trip.lat}}, lng: {{trip.lon}} };                              

                var marker = new google.maps.Marker({
                    position: trip, 
                    map: map,
                });

                var content = '<h5><a href={% url 'final_app:trip_detail' slug=trip.slug %} >{{trip.trail}}</a></h5><p>{{trip.start_date}} - {{trip.end_date}}</p>'

                google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                    return function() {
                        infowindow.setContent(content);
                        infowindow.open(map,marker);
                    };
                })(marker,content,infowindow));  

            {% endfor %}
        {% endif %}

        }

    </script>
{% endblock %}


{% block content %}
<div class = "profile">
    <div class = "profile-aside">

<!-- /* ------------------------------------------------------ */ -->
<!-- /* -------------- LOGGED IN USER ------------------ */ -->
<!-- /* ------------------------------------------------------ */ -->
        {% if request.user.pk == user.pk %} 
        <a href = "{% url 'final_app:profile_edit' %}">edit</a>
        {% endif %}
<!-- /* ------------------------------------------------------ */ -->

        <div class = "profile-picture">
            <img src="{{ user.profile.profile_picture.url }}" width="auto" height="250px">
        </div>
        <div class = "profile-info">
            <p> {{ user.profile.name }}</p>

            {% if user.profile.current_city %}
                <p> {{ user.profile.current_city }}</p>
            {% endif %}
            
            {% if user.profile.bio %}
                <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
            {% endif %}
        
            <p><strong>Date Joined:</strong> {{ user.profile.created_at }}</p>
        </div>
    </div>
    <div class='profile-main'>
        <div id="profile-map"></div>
    </div>
</div>   
{% endblock %}


