{% extends 'final_app/base_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}



<h4><a href="{% url 'final_app:trips_completed' %}">COMPLETED TRIPS</a></h4>

<h4><a href="{% url 'final_app:trips_future' %}">FUTURE TRIPS</a></h4>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Create A New Trip
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Create A Trip</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form class='post-create-form'  action="{% url 'final_app:trip_create' %}" method='post'>
                    {% csrf_token %}
                    {{ trip_form|crispy }}
            </div>
            <div class="modal-footer">
                    <button type="input" class="btn btn-success">Submit</button>
                </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


    <img src="{{ user.profile.profile_picture.url }}" width="auto" height="250px" alt="">
    <p><strong>Name:</strong> {{ user.profile.name }}</p>

    {% if user.profile.current_city %}
    <p><strong>Current City:</strong> {{ user.profile.current_city }}</p>
    {% endif %}
    
    {% if user.profile.bio %}
    <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
    {% endif %}

    <p><strong>Date Joined:</strong> {{ user.profile.created_at }}</p>
    
    <a href = "{% url 'final_app:profile_edit' %}">Edit Profile</a>


    <h1> Trips by {{user.username}} </h1>
        {% for trip in trips %}

          {% if trip.completed %}
          <h4></h4><a href={% url 'final_app:trip_detail' pk=trip.id %} >{{trip.trail}}</a><span>COMPLETED</span></h4>

          {% else %}
          <h4></h4><a href={% url 'final_app:trip_detail' pk=trip.id %} >{{trip.trail}}</a><span>
              <!-- Completed?: {{trip.completed}} -->
            </span></h4>
          {% endif %}


  
        {% endfor %}  


    <h1> Posts by {{user.username}} </h1>
    {% for trip in trips %}
            {% for trip_post in trip.trip_posts.all %}
            <a href={% url 'final_app:post_detail' pk=trip_post.id %} >
                <h4>{{trip_post.title}}</h4>
            </a>
            {% endfor %}
    {% endfor %}  


       

{% endblock %}


