{% extends 'final_app/base_layout.html' %}
{% load crispy_forms_tags %}

{% block extrahead %}
{{ trip_form.media }}
{% endblock extrahead %}


{% block content %}
<div class="trip-wrapper">
    <div class="trip-create">
        <h1>Create A New Trip</h1>
        <form class='trip-create-form' action="{% url 'final_app:trip_create' %}" method='post'>
            {% csrf_token %}  
            {{ trip_form|crispy }}
            <button type="input" class="modal-btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}