{% extends 'final_app/base_layout.html' %}

{% block content %}

<div class="trip-detail">

    <div class="trip-header">
        <div class ="trip-title">
        </div>
        <div class ="trip-icons">
              <div>
                  <a data-toggle="tooltip" data-placement="bottom" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
              </div>
              <div>
                  <a data-toggle="tooltip" data-placement="bottom" title="Share on Google" href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'target="_blank"><i class="fab fa-google-plus-g"></i></a>
              </div>
              <div>
                  <li><a data-toggle="tooltip" data-placement="bottom" title="Edit" href={% url 'final_app:trip_edit' slug=trip.slug %} ><i class="fas fa-edit"></i></a>
              </div>
              <div>
                  <form class="trip-delete" action="{% url 'final_app:trip_delete' %}" method="post">
                      {% csrf_token %}
                      <input type='hidden' name='trip_id' required id='id_trip_id' value='{{ trip.id }}' />
                      <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="trash-button"type='submit'onclick="return confirm('Are you sure you want to delete this trip?');"><i class="far fa-trash-alt"></i></button>
                  </form>
              </div>
      
            <!-- Button trigger modal -->
              <button type="button" class="modal-btn" data-toggle="modal" data-target="#post-modal">
                  <i data-toggle="tooltip" data-placement="bottom" title="Create A Post" class="fas fa-plus"></i>
              </button>
        </div>
    </div>
      
      <!-- Modal -->
    <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="post-modalLongTitle">Create A Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form class='post-create-form' enctype="multipart/form-data" action="{% url 'final_app:post_create' %}" method='post'>
                  {% csrf_token %}
                  {{ post_form }}
                  <input type='hidden' name='trip_id' required id='id_trip_id' value='{{ trip.id }}' />
          </div>
          <div class="modal-footer">
                  <button type="input" class="btn btn-success">Post</button>
              </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class ="trip-info">
        <div class ="trip-head">
            <h1>{{ trip.trail }}</h1>
            <img class="user_profile_icon" src="{{trip.user.profile.profile_picture.url}}" width="auto" height="40px">
        </div>
        <div class="trip-dates">
            <p>{{ trip.start_date }} - {{ trip.end_date}}</p>
            {% if trip.completed is False %}
            {% else %}
            <i class="fas fa-calendar-check"></i>
            {% endif %}
        </div>
        <div>
            <p><strong> Trip Length:</strong> {{trip.total_days}} days</p>
        </div>
        <div>
            {% if trip.permit %}
            <a href = "{{trip.permit}}" target="_blank"><strong>Permit Info</strong></a>
            {% endif %}
        </div>
    </div>  
          
    <div class="trip-pack"> 
        <div class="trip-gear">
          <div class="gear-head">
              <h4>Gear</h4>                
              <button id="gear" type="button" class="modal-btn" data-toggle="modal" data-target=".bd-gear-modal-sm"><i data-toggle="tooltip" data-placement="bottom" title="Add Gear" class="fas fa-plus"></i></button>
          </div>
              <!-- Small modal -->
                <div id="gear" class="modal fade bd-gear-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add Gear</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                        <form class='create-form' action="{% url 'final_app:gear_create' %}" method='post'>
                            {% csrf_token %}
                            {{ gear_form }}
                            <input type='hidden' name='trip_id' required id='id_trip_id' value='{{ trip.id }}' />
                            <div class="modal-footer">
                                <button type="input" class="modal-btn">Add</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
                {% for trip_gear in trip.trip_gears.all %}
                <div class='pack-line'>
                    <div>
                        <p {% if trip_gear.packed is True %} style="text-decoration: line-through" {% endif %}>{{trip_gear.gear_name}}</p>
                    </div>
                    <div>
                        <a href= {% url 'final_app:gear_edit' pk=trip_gear.id %} ><i data-toggle="tooltip" data-placement="bottom" title="Edit" class="fas fa-edit"></i></a>
                        <a href= {% url 'final_app:gear_delete' pk=trip_gear.id %} ><i data-toggle="tooltip" data-placement="bottom" title="Delete" class="far fa-trash-alt"></i></a>
                    </div>
                </div>
                {% endfor %}
    </div>

        <div class="trip-food">
          <div class="food-head">
              <h4>Food</h4>
              <button id="food" type="button" class="modal-btn" data-toggle="modal" data-target=".bd-food-modal-sm"><i data-toggle="tooltip" data-placement="bottom" title="Add Food" class="fas fa-plus"></i></button>
          </div>
              <!-- Small modal -->
            <div id="food" class="modal fade bd-food-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add Food</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
  
                        <form class='create-form' action="{% url 'final_app:food_create' %}" method='post'>
                            {% csrf_token %}
                             {{ food_form }}
                            <input type='hidden' name='trip_id' required id='id_trip_id' value='{{ trip.id }}' />
                            <div class="modal-footer">
                                <button type="input" class="modal-btn">Add</button>
                            </div>
                        </form>
                      </div>
                    </div>
                </div>
              
                <div class='food-wrapper'>
                    {% for day_list in trip.day_lists %}
                    <div class="food-box">
                        <i class="far fa-calendar"></i>
                        <h6>Day {{day_list |add:"1" }}</h6>  
                    </div>  
                    {% endfor %}
                </div>

                {% for trip_food in trip.trip_foods.all %}
                <div class='pack-line'>
                    <div>
                        <p {% if trip_food.packed is True %} style="text-decoration: line-through" {% endif %}>{{trip_food.food_name}}</p>
                    </div>
                    <div>
                        <a href= {% url 'final_app:food_edit' pk=trip_food.id %} ><i data-toggle="tooltip" data-placement="bottom" title="Edit" class="fas fa-edit"></i></a>
                        <a href= {% url 'final_app:food_delete' pk=trip_food.id %} ><i data-toggle="tooltip" data-placement="bottom" title="Delete" class="far fa-trash-alt"></i></a>
                    </div>
                </div>
                {% endfor %}       
        </div>
    </div>
    

    <div class="trip-posts">
        {% if trip.trip_posts %}
            <h4>Posts about this trip</h4>
        {% endif %}

        {% for trip_post in trip.trip_posts.all %}
        <a href={% url 'final_app:post_detail' slug=trip_post.slug %} >
            <img id ="hover-img" src="{{ trip_post.image.url }}" width="250px" height="250px" alt="">
        </a>        
        {% endfor %}    
    </div>
</div>
  


{% endblock %}